html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.container {
  border: 2px solid #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pager {
  background-color: #283033;
  color: #f8f8f8;
  width: 594px;
  height: 252px;
  margin-bottom: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.pager-display {
  background-color: #9ec4b3;
  width: 537px;
  height: 138px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  font-family: "Press Start 2P", system-ui;
}

.phone {
  background-color: #d9d9d9;
  width: 594px;
  height: auto;
  margin: 20px;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  font-size: 3rem;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.phone-display {
  background-color: #444444;
  color: #f8f8f8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 554px;
  /* height: 148px; */
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Press Start 2P", system-ui;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* super-  importante*/
  /* grid-template-rows: repeat(4,1fr); */
  gap: 10px;
}
/*arranjar os butoes*/
.keypad button {
  margin: 5px;
  padding: 5px;
  font-size: 2.5rem;
  background-color: F8F8F8;
  border: 2px solid #222222;
  cursor: pointer;
  text-align: center;
}

#resetNumbers {
  background-color: #be482a;
  color: #f8f8f8;
  font-size: 2.5rem;
}

.send {
  background-color: #3d9c7c;
  color: #0b0b0b;
  font-size: 2.5rem;
}

.send:hover {
  color: white;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
