@font-face {
    font-family: 'Inter';
    src: url(./Fonts/Inter/);
    font-weight: 400;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background);
}

:root {
    --main-title: #2b283A;
    --background-title: #D5D4D8;
    --background: #f5f5f5;
    --outline-btn-inside: #3A3D63;
    --text-color-1: #4A4E74;
    --text-color-2: #D5D4D8;
    --text-color-3: #918E9B;
    --text-color-4: #222;
    --button-invoice: #d5D4d8;
    --button-send: #3770ED;
    --button-send-hover: #2860D8;
    --button-text-color:#fff;
    --outline: #222;
}

.dark-mode {
    --main-title: #f5f5f5;
    --background-title: #3A69D2;
    --background: #1F2937;
    --outline-btn-inside: #2F1836;
    --text-color-1: #D5D4D8;
    --text-color-2: #D5D4D8;
    --text-color-3: #918E9B;
    --text-color-4: #fff;
    --button-invoice: #d1d4F4;
    --button-send: #3770ED;
    --button-send-hover: #2860D8;
    --button-text-color: #fff;
    --outline: #fff;
}

/* for the dark-mode toggle */

#toggle-label {
    width: 75px;
    height: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow:
      inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }

#toggle-label::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2.5px;
    left: 5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10 px rgba(0, 0, 0, 0.2);
  }
  aside {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

/* Estilo específico para o input do Dark/Light mode */
#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

#darkmode-toggle:checked + #toggle-label {
    background: #242424;
}

#darkmode-toggle:checked + #toggle-label::after {
    left: calc(100% - 15%);
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

/* Apenas para o label do toggle */
#toggle-label,
#toggle-label::after {
    transition: 0.3s;
}

#toggle-label:active::after {
    width: 26px;
}

.container {
    width: 100%;
    height: 100vh;
    border: 1px solid var(--text-color-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* Base CSS - for tablets and medium-sized screens */
.container {
    width: 100%;
    height: auto;
    max-width: 550px; /* This is the default for medium screens */
    padding: 16px;
    font-size: 1rem;  /* Default font size */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

/* For mobile phones (up to 600px) */
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 8px;  /* Less padding for small screens */
        font-size: 0.9rem;  /* Smaller font size */
    }

    .button {
        width: 100%; /* Full width button for mobile */
    }
}

/* For laptops and desktops (600px to 1200px) */
@media screen and (min-width: 600px) and (max-width: 1200px) {
    .container {
        width: 100%;
        max-width: 900px; /* Wider max width for laptops */
        padding: 16px;
        font-size: 1.1rem;  /* Slightly larger font */
    }

    .button {
        width: auto; /* Adaptive width for buttons on larger screens */
    }
}

/* For larger monitors (1200px and up) */
@media screen and (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1200px; /* Even wider for big screens */
        padding: 24px;
        font-size: 1.2rem;  /* Larger font for big screens */
        max-height: fit-content;
        min-height: 600px;
    }

    .button {
        width: auto; /* Button adapts naturally */
    }
}

.invoice-title {
    background: var(--background-title);
    color: var(--main-title);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--background-title);
    color: var(--main-title);
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;

 
}

.section1st {
    /* border-top: 1px solid var(--text-color-3);
    border-left: 1px solid var(--text-color-1);
    border-right: 1px solid var(--text-color-1); */
    height: auto;
}

.invoice-section {
    margin-bottom: 20px;
}

.invoice-section > h3 {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.invoice-section > .invoice-header {
    border-top: 8px solid var(--text-color-1);
    padding: 20px;
}
.subtitle {
    font-weight: 300;
    font-size: 14px;
    color: var(--text-color-1);
    margin: 0;
    text-align: center;
}

/* button to send invoice */
#addToInvoiceBtn {
    border-radius: 8px;
    padding: 10px 30px;
    background: var(--button-send);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;

}

li {
    margin-bottom: 5px;
}

#totalAmount {
    font-weight: bold;
    font-size: 36px;
    line-height: 4px;
    color: var(--text-color-1);
    padding: 10px;
}
.conditions {
    margin: 0;
}

.conditionleft {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
    width: inherit;
    /* border-left: 1px solid var(--text-color-1);
    border-right: 1px solid var(--text-color-1); */
    margin: 0;
}

.work-add-container {
    display: flex;
    flex-direction: e;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
    width: 590px;
    /* border-left: 1px solid var(--text-color-1);
    border-right: 1px solid var(--text-color-1); */
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: transform 0.3s ease-out;
    padding: 30px;
    max-width: 700px;
}

.service-btn {
    background-color: #FFF;
    color: var(--text-color-3);
    border: 1px solid #D5d4D8;
    border-radius: 4px;
    padding: 8px 13px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    width: 150px;
    height: 50px;
}

.service-btn:hover {
    background-color: #f5f5f5;
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevBtn {
    left: 5;
}

#nextBtn {
    right: 5;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
}

.invoice-section {
    /* border-top: 1px solid #C3C6DB; */
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    
}

.invoice-header {
    width: 490px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--text-color-1);
    font-weight: 700;
    font-size: 12px;
    /* border-bottom: 1px solid var(--text-color-1); */
}
.total-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-color-1);
    font-weight: 700;
    padding:20px;
}

.item-count {
    margin: 4px; 
    font-weight: 300;
}
.item-name {
    
    font-weight: 300;
    margin: 5px;
}
.bold {
    font-weight: 900;
}

.tasks { 
    font-weight: 300;
}

.task-list {
    list-style-type: none;
    font-weight: 400;
    padding: 0;
}

.service-btn.selected {
    background-color: #e0e0e0;
    border: 2px solid #007bff;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    padding: 5px;
}

.thin {
    font-size: 12px;
    font-weight: 300;
}

#selectedItems {
    list-style-type: none;
    padding: 0;
}

#selectedItems li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total-tasks, .task-total {
    font-weight: 300;
    font-size: 12px;
    color: var(--text-color-1);
}

.remove-btn {
    font-size: 10px;
    font-weight: 300;
    color: #918E9B;
    cursor: pointer;
    border: none;
    background-color: none;
}

.footer {
    width: 589px;
    /* border-left: 1px solid var(--text-color-1);
    border-right: 1px solid var(--text-color-1);
    border-bottom: 1px solid var(--text-color-1); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-invoice {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* # buttons */

#send-invoice-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-send);
    color: var(--button-invoice);
    border:none;
    padding:10px 20px;
    border-radius: 10px;
    margin:20px;
    margin-bottom: 50px;
    font-size: 2rem;
    cursor: pointer;
}
#send-invoice-btn:hover {
    background-color: var(--button-send-hover);
    font-weight: 900;
}
.add-work-btn {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: var(--button-send);
    color: var(--button-invoice);
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px ;
    transition: background-color 03s;
}

.add-work-btn:hover {
    background-color: color-contrast(var(--button-send) vs var(--button-send), #FFF);
    color: var(--button-send);
}



.hidden {
    visibility: hidden;
}



#price {
    border: none;
    
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    background-image: none;
    padding: 5px; */
}

.task-input-container {
    display: flex;
    max-width: 400px;
    outline: 0.5px solid var(--button-invoice);
    border-radius: 4px;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 20px;
    width: 150%;
}



.task-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.task-input, .task-price {
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 'none';
}

#task-price {
    border: none;
    max-width: fit-content;
}

#task-input {
    border: none;
}

/* email details section */
/* addin more than one section */
.warning-details, .email-details {
    position: fixed;
    top: 0; 
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-Warning-area, .main-recipient-email {
    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.main-Warning-area button, .main-recipient-email button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--button-send);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.main-Warning-area button:hover, .main-recipient-email button:hover {
    background-color: var(--button-send-hover);
}

.close, .yes-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .yes-button:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.area-buttons, .area-email-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}