header {
	color: white;
	font-weight: 500;
	background-color: #F55A5A;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	gap: 0.5rem;
}

.icon {
  font-size: 1.5rem;
}
