/*
COLOR PALETTE

BLACK: #201A23
WHITE: #FBFBFB
DARK: #44354A
COLOR: #9E4770
*/

html, body {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*height: 100vh*/
    background-color: #ECE4B7;

}

.container {
    background-color: #2c1c2c;
    border-radius: 10px;
    outline: 8px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

#main-image {
    border-radius: 50%;
    width: 25%;
    margin-bottom: 10px;
    outline: 8px solid #6A4F74
}

.btn {
    background-color: #a64572;
    display: inline-block;
    width:178px;
    height: 70px;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 40px;
    font-size: 30px;
}

.live {
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: 30px;
    
}

.main-heading {
    font-size: 48px;
}
 
.sales {
    display: inline-block;
    background-color: #4b334b;
    border-radius: 30px;
    padding: 20px;
    width: 805px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    margin-right: 20px;
}

.sales-total {
    display: flex;
    flex-direction: row;

}

.total {
    display: flex;
    background-color: #4b334b;
    width: 200px;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.sales-summary {
    margin-right: 30px;
}